@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Background color */
    --background: hsl(102, 40%, 89%);

    /* Foreground text color */
    --foreground: hsl(36, 10%, 20%);

    /* Muted background color */
    --muted: hsl(36, 5%, 95%);
    /* Muted foreground text color */
    --muted-foreground: hsl(36, 40%, 30%);

    /* Popover background color */
    --popover: hsl(0, 0%, 100%);
    /* Popover foreground text color */
    --popover-foreground: hsl(36, 10%, 20%);

    /* Border and input colors */
    --border: hsl(36, 20%, 90%);
    --input: hsl(36, 20%, 90%);

    /* Card colors */
    --card: hsl(0, 0%, 100%);
    /* Card foreground text color */
    --card-foreground: hsl(36, 10%, 20%);

    /* Primary colors */
    --primary: hsl(36, 10%, 20%);
    /* Primary foreground text color */
    --primary-foreground: hsl(36, 5%, 98%);

    /* Secondary colors */
    --secondary: hsl(36, 5%, 95%);
    /* Secondary foreground text color */
    --secondary-foreground: hsl(36, 10%, 20%);

    /* Accent colors */
    --accent: hsl(36, 5%, 95%);
    /* Accent foreground text color */
    --accent-foreground: hsl(36, 10%, 20%);

    /* Destructive colors */
    --destructive: hsl(0, 100%, 50%);
    /* Destructive foreground text color */
    --destructive-foreground: hsl(36, 5%, 98%);

    /* Ring color */
    --ring: hsl(36, 20%, 65%);

    /* Border radius */
    --radius: 0.5rem;

    /* Link hover color */
    --link-hover: hsl(205, 54%, 78%); /* Light Blue */
  }




  .dark {
    --background: linear-gradient(
      to bottom right,
      #1d291d 0%,
      #0a0f0f 10%,
      #0f1c1c 20%,
      #001b08 30%,
     
    );
  

  
  

    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    background: var(--background);
  }
}
.font-lora {
  font-family: var(--font-lora), sans-serif;
}